@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;

<h4>Add a new stylist</h4>

<div class="content">
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
  @Html.LabelFor(model => model.Details)
  @Html.TextAreaFor(model => model.Details, new { @class = "form-control"})
  <input type="submit" value="Add new stylist" />
}
</div>

<ul class="menu-links"><li></li>@Html.ActionLink("See all stylists","Index")</li></ul>