@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>About this Stylist</h2>

<div class ="content">
  <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
  <p>@Html.DisplayNameFor(model => model.Details): @Html.DisplayFor(model => model.Details)</p>

  <h5>@Model.Name's clients:</h5>
  @if (@ViewBag.AllClients.Count == 0)
  {
    <li>@Model.Name does not have any clients yet!</li>
  }
  @foreach (Client client in @ViewBag.AllClients)
  {
    <li>@Html.ActionLink($"{client.Name}","Details","Clients", new { id = client.ClientId} )</li>
  }
</div>

<ul class="menu-links">
  <li>@Html.ActionLink("Back to all stylists","Index")</li>
  <li>@Html.ActionLink("Edit stylist","Edit", new { id = Model.StylistId })</li>
  <li>@Html.ActionLink("Delete stylist","Delete", new { id = Model.StylistId })</li>
  <li>@Html.ActionLink("Home","Index","Home")</li>
</ul>
