@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;

<h2>Edit stylist</h2>
<h4>Edit information for @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
  @Html.LabelFor(model => model.Details)
  @Html.TextAreaFor(model => model.Details, new { @class = "form-control"})
  <input type="submit" value="Save" />
}

<ul class="menu-links"><li>@Html.ActionLink("Back to all stylists","Index")</li></ul>