@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h2>Client details</h2>

<div class="content">
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayFor(model => model.Name)'s stylist: @Html.ActionLink($"{Model.Stylist.Name}","Details","Stylists",new { id = Model.Stylist.StylistId})</p>
</div>

<ul class="menu-links">
  <li>@Html.ActionLink("Back to all clients","Index")</li>
  <li>@Html.ActionLink("Edit client","Edit", new { id = Model.ClientId })</li>
  <li>@Html.ActionLink("Delete client","Delete", new { id = Model.ClientId })</li>
  <li>@Html.ActionLink("Home","Index","Home")</li>
</ul>