@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h2>Client details</h2>
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayFor(model => model.Name)'s stylist: @Html.ActionLink($"{Model.Stylist.Name}","Details","Stylists",new { id = Model.Stylist.StylistId})</p>
<p>@Html.ActionLink("Back to all clients","Index")</p>
<p>@Html.ActionLink("Edit client","Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete client","Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Home","Index","Home")</p>
