@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h2>Edit</h2>
<h4>Edit this client: @Html.DisplayFor(model => model.Name)</h4>

<div class="content">
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
  @Html.LabelFor(model => model.Stylist)<br>
  @Html.DropDownList("StylistId")<br>
  <input type="submit" value="Save" />
}
</div>

<ul class="menu-links"><li>@Html.ActionLink("Back to all clients","Index")</li></ul>